/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {    
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container { 
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 1.4em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

span {
    font-weight: 700;
    font-size: 1.125em;
}

a {
    text-decoration: none;
    color: black;
}

/****** En-tête ***************/
header {        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    margin: 0 -7.39px 30px -50px;
}

header img {
    width: 61.09px;
    height: 19px;
    padding: 30px;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;    
    margin-top: 0px;
    gap: 69px;  
}

nav li {
    padding-top: 16px;      
}

.nav-link:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color); 
    padding-top: 14px;
}

/****** Corps de page *********************/
.headline {
    display: flex;
    flex-direction: column;  
}

.headline p {
    margin: 8px 0 0 0;
}

/****** formulaire de recherche ********/
.search-bar {        
    display: flex;
    border-top: solid var(--main-bg-color) 1px;
    border-bottom: solid var(--main-bg-color) 1px;
    border-radius: 15px;    
    margin: 35px 0;
    width: 23.5em;
    height: 3.06em;
}

.location-label {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    width: 3.1em;
}

.fa-location-dot {
    color: black;
}

.search-input {
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
    border-style: none;
    width: 12.2em;    
}

.search-button {
    background-color: var(--main-color);
    color: #FFFFFF;    
    border-radius: 0 15px 15px 0;
    border: none;
    padding: 15px 16px;
    width: 8.3em;
}
.fa-magnifying-glass {
    display: none;
}

.search-button :hover {
    cursor: pointer;
}

/****** Filtres **********/
.filter-bar {
    display: flex;
    align-items: center;
}

.filter-button{
    display: flex;
    flex-wrap: wrap;
}

.filter-button button {
    display: flex;
    align-items: center;    
    box-sizing: border-box;
    height: 3.1em;
    background-color: #FFFFFF;
    margin-left: 15px;
    padding: 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filter-button :hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.filter-button i {
    font-size: 1.4em;
    margin-right: 10px;
}

.filter-button .fa-money-bill-wave {
    font-size: 1.2em;
}

.button {
    font-size: 1.1em;    
}

/****** Information ******/
.info-bar {
    display: flex;
    align-items: center;
    margin: 2.2em 0;
    height: 1.5em;
    gap: 10px;
}

.fa-info {
    color: var(--main-color);
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.75em;
    border: 1px solid #D9D9D9;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergements-cards .card {
    margin-top: 30px;
    box-sizing: border-box;
    width: calc((100% - 60px) / 3);
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 5px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px 0 10px 0;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-subtitle {
    font-size: 0.9em;
    margin: 8px 0;
}

.display-more {
    font-size: 1.1em;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card a {
    display: flex;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    font-size: 0.9em;
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ************/
.activites {
    margin: 35px 0;
    padding: 30px;
}

.activites-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.activites-cards .card {
    width: calc((100% - 90px) / 4);
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    margin: 0;
}

.activites-cards .card a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.activites-cards .card-content {
    padding: 0 19px;
    height: calc(100% - 380px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/****** Footer ************/
footer {
    display: flex;
    background-color: var(--main-bg-color);
}

footer ul {
    width: calc(100% / 3);
    list-style: none;
    margin: 0;
    padding: 20px;
}

.footer-link {
    margin-top: 15px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Cas particulier de l'en-tête sur desktop */
@media not ((min-width: 1024px) and (max-width: 1440px)) {
    header {
        margin: 0 0 30px -30px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter-bar {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: auto;
    }

    .filter-button {
        margin-left: -15px;
        margin-top: 20px;
    }

    .button {
        font-size: 1em;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .activites-cards img {
        height: 200px;
    }

    .activites-cards .card-content {
        height: calc(100% - 200px);
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    /*** En-tête ***/
    header {        
        flex-direction: column;
        align-items: center;
        height: 115px;
        margin: 0;
    }

    header a {
        display: inline-flex;
    }

    header nav {
        width: 100%;
    }

    nav ul {
        padding: 0;
        gap: 0;
    }

    nav li {
        width: 50%;
        padding: 0 0 15px 0;
        text-align: center;
        border-bottom: solid 2px var(--main-bg-color);
    }

    .nav-link {
        width: 100%;
        height: calc(100% + 15px);
        display: block;
    }

    .nav-link:hover {
        border-top: none;
        padding-top: 0;
        border-bottom: solid 2px var(--main-color);
    }

    nav li:hover {
        border-top: none; 
        padding-top: 0;        
    }

    main {
        margin: 30px 0;
    }

    /*** Info ***/
    .info {
        display: flex;
        flex-direction: column;        
        padding: 0 20px;
    }

    .search-bar {
        width: 100%;
    }

    .search-input {
        width: calc(100% - 99px);
        text-align: left;
        padding-left: 24px;
    }

    .search-button {   
        border-radius: 15px;
        padding: 16px;
        width: 49px;
    }

    .search-span {
        display: none;
    }

    .fa-magnifying-glass {
        display: block;
        color: #FFFFFF;
        width: 17px;
        height: 17px;
    }

    .filter-button {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
    }

    .filter-button button {
        width: calc((100% - 10px) / 2);
        margin: 20px 0 0 0;
    }

    .button {
        font-size: 0.9em;
    }

    .info-bar {
        height: auto;
    }

    /*** Hebergements And Populaires ***/
    .hebergements-and-populaires {
        flex-direction: column-reverse;        
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires .populaires {
        padding: 30px 20px;
        margin-top: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: #FFFFFF;
        margin-top: 15px;
        padding: 20px;
    }
    
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 100%;
        margin-top: 15px;
        box-sizing: border-box;
    }

    .hebergements-cards {
        margin-bottom: 15px;
    }

    .hebergements-cards .card {
        width: 100%;
        margin-top: 15px;
    }

    .hebergements-cards :nth-child(1) {
        order: 1;
    }
    .hebergements-cards :nth-child(2) {
        order: 6;
    }
    .hebergements-cards :nth-child(3) {
        order: 3;
    }
    .hebergements-cards :nth-child(4) {
        order: 4;
    }
    .hebergements-cards :nth-child(5) {
        order: 2;
    }
    .hebergements-cards :nth-child(6) {
        order: 5;
    }
    .hebergements-cards .card-content :nth-child(2) {
        order: 2;
    }

    .display-more {
        margin-top: 0;
    }

    /*** Activités ***/
    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards .card {
        width: 100%;
    }

    .activites-cards img {
        height: 141px;
    }

    .activites-cards .content {
        height: calc(100% - 141px);
    }

   /*** Footer ***/
    footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    footer ul {
        width: 100%;
        padding: 0;
    }
}